* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Montserrat", sans-serif;
}
body {
  background: #eee;
  padding: 0 16px;
}

header {
  background-color: #f5ba13;
  margin: auto -16px;
  padding: 16px 32px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}
.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}
.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note button {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f5ba13;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
  background-color: transparent;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
.button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f5ba13;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}

#id.light-mode {
  background-color: #eee;
  color: #333;
  transition: background-color 0.3s ease;
}
#id.dark-mode {
  background-color: #444444;
}

.togglebuttons {
  display: flex;
  justify-content: flex-end;
}

.transparent {
  background: transparent;
  border: none !important;
  font-size: 0;
}

.loader {
  background: transparent;
  text-align: center;
  margin-top: 10rem;
}

.logout {
  margin-bottom: 2rem;
}

.logout-btn {
  float: right;
  background-color: #f5ba13;
  color: #fff;
  border: none;
  color: #fff;
  font-family: "McLaren", cursive;
  font-weight: 200;
  font-size: 1.1em;
}

.card {
  height: 23rem;
  width: 23rem;
  background-color: #ea99d5;
  text-align: center;
  border-radius: 1rem;
  margin: auto;
  margin-top: 3rem;
  color: #eeeeee;
}

.heading {
  padding: 2rem 2rem 2rem 2rem;
}

.card input {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 4%;
  box-shadow: none;
  border: none;
}

.card button {
  padding: 0.6rem;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1.2rem;
  border-radius: 10%;
  box-shadow: none;
  border: none;
  background-color: #eeee;
}

.card button:hover {
  background-color: ghostwhite;
  color: violet;
  border: outlined;
}

a {
  color: #eeeeee;
  text-decoration: none;
}

a:hover {
  color: gold;
}

.register {
  margin-top: 2rem;
}
